{% extends 'base.html.twig' %}

        {% block body %}
{#<style>

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #FAEBD7;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
        font-family: 'Arial';
    }

    .box-login {
        width: 400px;
        height: 500px;
        background: #8B0000;
        border: 0;
        border-radius: 10px 10px 10px 10px;
        background: #8B0000;
        background: -webkit-linear-gradient(top, #8B0000, #FFA500);
        background: -o-linear-gradient(top, #8B0000, #FFA500);
        background: -moz-linear-gradient(top, #8B0000, #FFA500);
        background: linear-gradient(top, #8B0000, #FFA500);
    }

    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login {
        background-image: url(//localhost:8000/images/pastel-back.png);
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .login-form {
        padding-top: 20px;
    }

    .login-form-logo {
        font-size: 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-image: url(//localhost:8000/images/pastel.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        padding: 10px 0px 0px 0px;
    }

    .login-form-titulo {
        font-family: 'Arial';
        font-weight: bold;
        font-size: 25px;
        color: #ffbb00;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        display: block;
        padding: 20px 15px;
    }

    .login-form-input {
        color: whitesmoke;
        width: 60%;
        position: relative;
        margin-bottom: 20px;
        padding-top: 10px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        margin-left: auto;
        margin-right: auto;
    }

    .login-input {
        font-family: 'Arial';
        font-size: 16px;
        color: whitesmoke;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 40px;
        background: transparent;
        text-align: center;
        border: 0;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .focus-input {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .focus-input::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #fff;
    }

    .focus-input::after {
        font-family: Material-Design-Iconic-Font;
        font-size: 22px;
        color: #fff;
        display: block;
        width: 100%;
        position: absolute;
        top: 6px;
        left: 0px;
        padding-left: 5px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .container-login-form-btn {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login-form-btn {
        font-family: 'Arial';
        font-size: 20px;
        font-weight: bold;
        color: #ffbb00;
        line-height: 1.2;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        min-width: 120px;
        height: 50px;
        border-radius: 25px;
        background-color: whitesmoke;
        border: 0;
        box-shadow: 0 9px #999;
        cursor: pointer;
        outline: none;
    }

    .login-form-btn:hover {
        background-color: #8B0000;
    }

    .login-form-btn:active {
        background-color: #8B0000;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .text-center {
        text-align: center;
        padding-top: 20px;
    }

    .a {
        padding-top: 10px
    }

    a:hover {
        text-decoration: none;
        color: #fff;
    }

    .txt1 {
        font-family: 'Arial';
        font-weight: bold;
        font-size: 18px;
        color: rgb(177, 0, 0);
        line-height: 1.5;
        text-decoration: none;
    }
</style>#}


<body>
<div class="limiter">
    <div class="container-login">
        <div class="box-login">

            <form class="login-form validate-form" method="POST" action="">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <span class="login-form-logo"></span>
                <span class="login-form-titulo">Login</span>

                <div class="login-form-input validate-input">
                    <input class="login-input" type="email" value="{{ last_username }}" name="email" placeholder="E-mail">
                    <span class="focus-input" data-placeholder="&#xf207;"></span>
                </div>

                <div class="login-form-input validate-input">
                    <input class="login-input" type="password" name="senha" placeholder="Senha">
                    <span class="focus-input" data-placeholder="&#xf191;"></span>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="container-login-form-btn">
                    <button class="login-form-btn" type="submit" value="Entrar" name="setLogin">Entrar</button>
                </div>

                <div class=" text-center ">

                    <a class="txt1 " href="{{ path('user_new') }}">Criar conta</a>

                </div>
            </form>


        </div>
    </div>
</div>
</body>

{% endblock %}